/* Variables */
.blue {
  color: #015cd5;
}
.blue-bg {
  background-color: #015cd5;
}
.dark-blue {
  color: #144460;
}
.dark-blue-bg {
  background-color: #144460;
  background-color: dark- #015cd5;
}
.aqua {
  color: #13a98e;
}
.aqua-bg {
  background-color: #13a98e;
}
.aqua-lite {
  color: #91d6c4;
}
.aqua-lite-bg {
  background-color: #91d6c4;
}
.purple {
  color: #872683;
}
.purple-bg {
  background-color: #872683;
}
.lite-grey {
  color: #afb2b9;
}
.lite-grey-bg {
  background-color: #afb2b9;
}
.medium-grey {
  color: #666;
  color: #666666;
}
.medium-grey-bg {
  background-color: #666;
  background-color: #666666;
}
.grey-green {
  color: #363e3b;
}
.grey-green-bg {
  background-color: #363e3b;
}
.baseGrey {
  color: #424242;
}
.normal,
.regularfont {
  font-style: normal;
  font-weight: 300;
}
.basefont {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  font-size: 20px;
  color: #424242;
  line-height: 1.35;
  word-spacing: 0.1em;
}
.titlefont {
  font-family: 'MyriadWebPro-Bold', Helvetica, Arial, Sans-Serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  color: #015cd5;
}
.text-color-light {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  font-size: 20px;
  color: #424242;
  line-height: 1.35;
  word-spacing: 0.1em;
  color: #666;
  color: #666666;
}
.animate-quick {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.animate-medium {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.animate-gradual {
  -webkit-transition: all 0.77s ease-in-out;
  -moz-transition: all 0.77s ease-in-out;
  -ms-transition: all 0.77s ease-in-out;
  -o-transition: all 0.77s ease-in-out;
  transition: all 0.77s ease-in-out;
}
.animate-slow {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.animate-remove {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* --------- Responsive ---------- */
/*  
xxxxs: 0-319px,
xxxs: 320px-479px
xxs: 480px-567px,
xs: 568px-666px,
sm: 667px-767px,
md: 768px-991px,
lg: 992px-1199px,
xl: 1200px-1439px,
xxl: 1440px-1599px,
xxxl: 1600px-1899px,
xxxxl: 1900px+
*/
@media (max-width: 1899px) {
}
@media (max-width: 1599px) {
}
@media (max-width: 1439px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 666px) {
}
@media (max-width: 567px) {
}
@media (max-width: 479px) {
}
@media (max-width: 319px) {
}
